.structure {
  padding: 0 0 80px;
  text-align: center;
}

.structure-img {
  width: 100%;
  max-width: 1000px;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.structure-img:hover {
  transform: scale(1.02);
}
