<footer class="footer">
  <div class="container footer-inner">

    <!-- ЛОГО -->
    <div class="footer-col">
      <div class="logo">HydroGeo</div>
      <p>Гидрогеологические исследования и водные ресурсы Казахстана</p>
    </div>

    <!-- НАВИГАЦИЯ -->
    <div class="footer-col">
      <h4>Навигация</h4>
      <a routerLink="/home">Главная</a>
      <a routerLink="/about">О компании</a>
      <a routerLink="/services">Услуги</a>
      <a routerLink="/contacts">Контакты</a>
    </div>

    <!-- ДЕЯТЕЛЬНОСТЬ -->
    <div class="footer-col">
      <h4>Деятельность</h4>
      <a routerLink="/structure">Структура</a>
      <a routerLink="/projects">Проекты</a>
      <a routerLink="/reception">Прием граждан</a>
      <a routerLink="/news">Новости</a>
      <a routerLink="/vacancies">Вакансии</a>
    </div>

    <!-- КОНТАКТЫ -->
    <div class="footer-col">
      <h4>Контакты</h4>
    <!--  <p>Телефон: +7 701 785 01 40</p>-->
      <p>Email: qazhydrogeology&#64;gmail.com</p>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 HydroGeo
  </div>
</footer>