<footer class="footer">
  <div class="container footer-inner">

    <!-- ЛОГО -->
    <div class="footer-col">
      <div class="logo">HydroGeo</div>
      <p>{{ 'FOOTER.TAGLINE' | translate }}</p>
    </div>

    <!-- НАВИГАЦИЯ -->
    <div class="footer-col">
      <h4>{{ 'FOOTER.NAV' | translate }}</h4>
      <a routerLink="/home">{{ 'HEADER.HOME' | translate }}</a>
      <a routerLink="/about">{{ 'HEADER.ABOUT' | translate }}</a>
      <a routerLink="/services">{{ 'HEADER.SERVICES' | translate }}</a>
      <a routerLink="/contacts">{{ 'HEADER.CONTACTS' | translate }}</a>
    </div>

    <!-- ДЕЯТЕЛЬНОСТЬ -->
    <div class="footer-col">
      <h4>{{ 'HEADER.WORK' | translate }}</h4>
      <a routerLink="/structure">{{ 'HEADER.STRUCTURE' | translate }}</a>
      <a routerLink="/projects">{{ 'HEADER.PROJECTS' | translate }}</a>
      <a routerLink="/reception">{{ 'HEADER.RECEPTION' | translate }}</a>
      <a routerLink="/news">{{ 'HEADER.NEWS' | translate }}</a>
      <a routerLink="/vacancies">{{ 'HEADER.VACANCIES' | translate }}</a>
    </div>

    <!-- КОНТАКТЫ -->
    <div class="footer-col">
      <h4>{{ 'HEADER.CONTACTS' | translate }}</h4>
      <p>{{ 'CONTACTS.EMAIL_LABEL' | translate }}: {{ 'CONTACTS.EMAIL' | translate }}</p>
    </div>

  </div>

  <div class="footer-bottom">
    {{ 'FOOTER.COPYRIGHT' | translate }}
  </div>
</footer>
