
<section class="page-hero">
  


<div class="container">

    <h2>{{ 'GOV.TITLE' | translate }}</h2>

<p class="about-text">
      {{ 'GOV.INTRO' | translate }}
    </p>
<p><strong>Миссия:</strong> {{ 'ABOUT_DETAILS.MISSION' | translate }}</p>
<p><strong>Цель:</strong> {{ 'ABOUT_DETAILS.GOAL' | translate }}</p>
    <div class="projects-grid">

      <div class="project-card">
        <h3>{{ 'GOV.LIST.TASK_1_TITLE' | translate }}</h3>
        <p>{{ 'GOV.LIST.TASK_1_DESC' | translate }}</p>
      </div>

      <div class="project-card">
        <h3>{{ 'GOV.LIST.TASK_2_TITLE' | translate }}</h3>
        <p>{{ 'GOV.LIST.TASK_2_DESC' | translate }}</p>
      </div>

      <div class="project-card">
        <h3>{{ 'GOV.LIST.TASK_3_TITLE' | translate }}</h3>
        <p>{{ 'GOV.LIST.TASK_3_DESC' | translate }}</p>
      </div>

      <div class="project-card">
        <h3>{{ 'GOV.LIST.TASK_4_TITLE' | translate }}</h3>
        <p>{{ 'GOV.LIST.TASK_4_DESC' | translate }}</p>
      </div>

      <div class="project-card">
        <h3>{{ 'GOV.LIST.TASK_5_TITLE' | translate }}</h3>
        <p>{{ 'GOV.LIST.TASK_5_DESC' | translate }}</p>
      </div>
 <div class="project-card">
        <h3>{{ 'GOV.LIST.TASK_6_TITLE' | translate }}</h3>
        <p>{{ 'GOV.LIST.TASK_6_DESC' | translate }}</p>
      </div>
    </div>

  </div>

</section>

<section class="history fade-in" [class.show]="isVisible">

  <div class="container">

    <h2>История организации</h2>

    <div class="timeline">

      <div class="timeline-item">
        <div class="year">1960</div>
        <div class="content">Основание организации</div>
      </div>

      <div class="timeline-item">
        <div class="year">1985</div>
        <div class="content">Расширение сети мониторинга</div>
      </div>

      <div class="timeline-item">
        <div class="year">2000</div>
        <div class="content">Модернизация оборудования</div>
      </div>

      <div class="timeline-item">
        <div class="year">2015</div>
        <div class="content">Цифровизация данных</div>
      </div>

      <div class="timeline-item">
        <div class="year">2020</div>
        <div class="content">Международная аккредитация</div>
      </div>

      <div class="timeline-item highlight">
        <div class="year">2026</div>
        <div class="content">Новый этап развития</div>
      </div>

    </div>

  </div>

</section>