
<section class="page-hero">
  <div class="container">
    <h1>График приема граждан</h1>
    <p>  Прием граждан руководством НАО «НГС «Казгидрогеология»</p>
  </div>
</section>
  <section class="services fade-in" [class.show]="isVisible">

  <div class="container">


    <div class="table-wrapper">
      <table class="reception-table">

        <thead>
          <tr>
            <th>Ф.И.О.</th>
            <th>Должность</th>
            <th>График приема</th>
            <th>Время</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Бекнияз Болат Қабыкенұлы</td>
            <td>Председатель</td>
            <td>Первая пятница месяца</td>
            <td>10:00 – 12:00</td>
          </tr>

          <tr>
            <td>Ибраев Даир Зарапович</td>
            <td>Первый заместитель председателя</td>
            <td>Последний четверг месяца</td>
            <td>15:30 – 17:30</td>
          </tr>

          <tr>
            <td>Мықан Қаракөз Еламанқызы</td>
            <td>Заместитель председателя</td>
            <td>Последняя среда месяца</td>
            <td>15:30 – 17:30</td>
          </tr>

          <tr>
            <td>Вакасова Гульданам Туглукжановна</td>
            <td>Заместитель председателя</td>
            <td>Последний вторник месяца</td>
            <td>15:30 – 17:30</td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="reception-info">
      <p><strong>Адрес:</strong> г. Астана, пр. Б. Момышулы 2/1</p>
      <p><strong>Email:</strong> qazhydrogeology&#64;gmail.com</p>
    </div>

  </div>

</section>