<header
  [class.scrolled]="isScrolled || !isHomePage()"
  [class.top]="!isScrolled && isHomePage()">

  <div class="container header-inner">

    <!-- LOGO -->
    <div class="logo">
      <img src="assets/images/logo.svg" alt="KazHydro" />
    </div>

    <nav class="menu">

      <a routerLink="/home">{{ 'HEADER.HOME' | translate }}</a>
      <div class="dropdown">
        <span>{{ 'HEADER.ABOUT' | translate }} ▾</span>

        <div class="dropdown-menu">
          <a routerLink="/about">{{ 'HEADER.ABOUT_PAGE' | translate }}</a>
          <a routerLink="/activity">{{ 'HEADER.ACTIVITY' | translate }}</a>
          <a routerLink="/govement">{{ 'HEADER.GOV' | translate }}</a>
          <a routerLink="/anti-corruption">{{ 'HEADER.ANTI_CORRUPTION' | translate }}</a>
          <a routerLink="/ombucmen">{{ 'HEADER.OMBUDSMAN' | translate }}</a>
        </div>
      </div>

      <a routerLink="/services">{{ 'HEADER.SERVICES' | translate }}</a>

      <!-- DROPDOWN -->
      <div class="dropdown">
        <span>{{ 'HEADER.WORK' | translate }} ▾</span>

        <div class="dropdown-menu">
          <a routerLink="/structure">{{ 'HEADER.STRUCTURE' | translate }}</a>
          <a routerLink="/projects">{{ 'HEADER.PROJECTS' | translate }}</a>
          <a routerLink="/reception">{{ 'HEADER.RECEPTION' | translate }}</a>
          <a routerLink="/news">{{ 'HEADER.NEWS' | translate }}</a>
          <a routerLink="/vacancies">{{ 'HEADER.VACANCIES' | translate }}</a>
        </div>
      </div>

      <a routerLink="/contacts">{{ 'HEADER.CONTACTS' | translate }}</a>

    </nav>

    <!-- RIGHT -->
    <div class="right">

      <app-lang-switcher class="desktop-lang"></app-lang-switcher>
      <a class="login-btn" href="https://data.hydrogeo.kz/">
        {{ 'HEADER.LOGIN' | translate }}
      </a>
      <button class="burger" (click)="toggleMenu()">☰</button>

    </div>

  </div>

  <!-- MOBILE -->
  @if (isMenuOpen) {
    <div class="mobile-menu">
      <a routerLink="/home" (click)="toggleMenu()">{{ 'HEADER.HOME' | translate }}</a>
      <div class="mobile-group">{{ 'HEADER.ABOUT' | translate }}</div>
      <a routerLink="/about" (click)="toggleMenu()">{{ 'HEADER.ABOUT_PAGE' | translate }}</a>
      <a routerLink="/activity" (click)="toggleMenu()">{{ 'HEADER.ACTIVITY' | translate }}</a>
      <a routerLink="/anti-corruption" (click)="toggleMenu()">{{ 'HEADER.ANTI_CORRUPTION' | translate }}</a>
      <a routerLink="/ombucmen" (click)="toggleMenu()">{{ 'HEADER.OMBUDSMAN' | translate }}</a>
      <a routerLink="/services" (click)="toggleMenu()">{{ 'HEADER.SERVICES' | translate }}</a>
      <!-- ГРУППА -->
      <div class="mobile-group">{{ 'HEADER.WORK' | translate }}</div>
      <a routerLink="/structure" (click)="toggleMenu()">{{ 'HEADER.STRUCTURE' | translate }}</a>
      <a routerLink="/projects" (click)="toggleMenu()">{{ 'HEADER.PROJECTS' | translate }}</a>
      <a routerLink="/reception" (click)="toggleMenu()">{{ 'HEADER.RECEPTION' | translate }}</a>
      <a routerLink="/news" (click)="toggleMenu()">{{ 'HEADER.NEWS' | translate }}</a>
      <a routerLink="/vacancies" (click)="toggleMenu()">{{ 'HEADER.VACANCIES' | translate }}</a>
      <a routerLink="/contacts" (click)="toggleMenu()">{{ 'HEADER.CONTACTS' | translate }}</a>

      <div class="mobile-group">{{ 'HEADER.LANGUAGE' | translate }}</div>
      <app-lang-switcher class="on-dark"></app-lang-switcher>
    </div>
  }

</header>
