
  <section class="contacts fade-in" [class.show]="isVisible">
  <div class="container">

    <h2>{{ 'CONTACTS.TITLE' | translate }}</h2>

    <div class="contacts-grid">

      <!-- ЛЕВАЯ ЧАСТЬ -->
      <div class="contacts-info">

        <p><strong>{{ 'CONTACTS.EMAIL_LABEL' | translate }}:</strong> {{ 'CONTACTS.EMAIL' | translate }}</p>

        <p><strong>{{ 'CONTACTS.ADDRESS_LABEL' | translate }}:</strong> {{ 'CONTACTS.ADDRESS' | translate }}</p>

        <a
          href="https://2gis.kz/astana/search/%D0%9A%D0%BE%D1%80%D0%B3%D0%B0%D0%BB%D0%B6%D1%8B%D0%BD%D1%81%D0%BA%D0%BE%D0%B5%20%D1%88%D0%BE%D1%81%D1%81%D0%B5%2013%2F3"
          target="_blank"
          class="map-link"
        >
          📍 {{ 'CONTACTS.MAP' | translate }}
        </a>

      </div>

      <!-- ПРАВАЯ ЧАСТЬ -->
      <div class="contacts-actions">

        <a href="mailto:qazhydrogeology@gmail.com" class="contact-card">
          <span class="icon">📧</span>
          <span>{{ 'CONTACTS.EMAIL_LABEL' | translate }}</span>
        </a>

      </div>

    </div>

  </div>

</section>
