
<section class="page-hero">


  <div class="container">


    <h2>
      {{ 'ACTIVITIES.TITLE' | translate }}
    </h2>

   
<p class="about-text">
  {{ 'ACTIVITIES.INTRO' | translate }}
</p>

    <div class="activities-grid">

      <div class="activity-card">
        <div class="activities-image">
  <img src="assets/images/monitoring.png" alt="Гидрогеология" />
</div>
        <h3>{{ 'ACTIVITIES.LIST.MONITORING_TITLE' | translate }}</h3>
        <p>{{ 'ACTIVITIES.LIST.MONITORING_DESC' | translate }}</p>
      </div>

      <div class="activity-card">
        <div class="activities-image">
  <img src="assets/images/research.png" alt="Гидрогеология" />
</div>
        <h3>{{ 'ACTIVITIES.LIST.SUPPLY_TITLE' | translate }}</h3>
        <p>{{ 'ACTIVITIES.LIST.SUPPLY_DESC' | translate }}</p>
      </div>

      <div class="activity-card">
        <div class="activities-image">
  <img src="assets/images/exploration.png" alt="Гидрогеология" />
</div>
        <h3>{{ 'ACTIVITIES.LIST.MELIORATION_TITLE' | translate }}</h3>
        <p>{{ 'ACTIVITIES.LIST.MELIORATION_DESC' | translate }}</p>
      </div>

      <div class="activity-card">
        <div class="activities-image">
  <img src="assets/images/gis.png" alt="Гидрогеология" />
</div>
        <h3>{{ 'ACTIVITIES.LIST.DIGITAL_TITLE' | translate }}</h3>
        <p>{{ 'ACTIVITIES.LIST.DIGITAL_DESC' | translate }}</p>
      </div>

        <div class="activity-card">
        <div class="activities-image">
  <img src="assets/images/since.png" alt="Гидрогеология" />
</div>
        <h3>{{ 'ACTIVITIES.LIST.SCIENCE_TITLE' | translate }}</h3>
        <p>{{ 'ACTIVITIES.LIST.SCIENCE_DESC' | translate }}</p>
      </div>
  <div class="activity-card">
        <div class="activities-image">
  <img src="assets/images/programs.png" alt="Гидрогеология" />
</div>
        <h3>{{ 'ACTIVITIES.LIST.ENGINEERING_TITLE' | translate }}</h3>
        <p>{{ 'ACTIVITIES.LIST.ENGINEERING_DESC' | translate }}</p>
      </div>
      <div class="activity-card">
        <div class="activities-image">
  <img src="assets/images/hr.png" alt="Гидрогеология" />
</div>
        <h3>{{ 'ACTIVITIES.LIST.EDUCATION_TITLE' | translate }}</h3>
        <p>{{ 'ACTIVITIES.LIST.EDUCATION_DESC' | translate }}</p>
      </div>
    </div>

  </div>
  



</section>