
<section class="page-hero">
  <div class="container">
    <h1>{{ 'VACANCIES.TITLE' | translate }}</h1>
  </div>
</section>
  <section class="services fade-in" [class.show]="isVisible">

  <div class="container">

<div class="vacancies-empty-card">

  <div class="icon">💼</div>

  <h3>{{ 'VACANCIES.JOIN_TITLE' | translate }}</h3>

  <p class="desc">{{ 'VACANCIES.JOIN_TEXT' | translate }}</p>

  <div class="email-block" (click)="copyEmail()">
    <span>📩 {{ 'VACANCIES.SEND_CV' | translate }}</span>
    <strong>{{ 'CONTACTS.EMAIL' | translate }}</strong>
  </div>

  <span class="hint">{{ 'VACANCIES.COPY_HINT' | translate }}</span>

</div>

  </div>

</section>
